html {
    scroll-behavior: smooth;
    user-select: none;
}

a {
    text-decoration: none;
}

.nav-link, .navbar-brand {
    color: rgba(255,255,255,0.85);
}

#loader-container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: var(--bs-body-bg);
    z-index: 99;
    transition: .3s;
}

.navbar-link-img {
    width: 1rem;
    height: 1rem;
}

.skills-icon {
    height: 1.7rem;
}

.section {
    scroll-margin-top: 60px;
}

#clock {
    color: #ff0000;
}